.chemist {
    position: relative;
    display: none;

    &__cloak {
        background: url(../disign/cloak.svg) no-repeat center;
        position: absolute;
        bottom: -62px;
        right: 20px;
        z-index: 2;
        padding: 70px;
    }

    &__chemical {
        background: url(../disign/chimical.svg) no-repeat center;
        position: absolute;
        bottom: -116px;
        right: 20px;
        padding: 150px 90px;
        z-index: 3;
    }
}

@media screen and (min-width: 1400px) {
    .chemist {
        display: block;
    }
}