.chemist {
    position: relative;
    width: 100%;
    height: 150px;
    display: none;

    &__cloak {
        background: url(../disign/cloak.svg) no-repeat center;
        position: absolute;
        bottom: -60px;
        left: 1600px;
        z-index: 2;
        padding: 70px;
    }

    &__chimical {
        background: url(../disign/chimical.svg) no-repeat center;
        position: absolute;
        bottom: -112px;
        left: 1560px;
        padding: 150px 90px;
        z-index: 3;
    }
}






@media screen and (min-with: 1740px) {
    .chemist {
        display: block;
    }
}