.contact-us {
    background-color: #021747;

    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 20px 30px;
    }

    &__form {
        display: grid;
        grid-gap: 16px;
    }

    &--type {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #6A7798;
        padding: 12px;
    }

    &--data {
        max-width: 380px;
    }


    &--type:hover {
        opacity: 0.5;
    }

    &__radio-btn {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
    }

    &__form {
        margin: 0 30px;
    }

    &__checkbox {
        display: none;
    }

    &--would {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #6A7798;
        display: flex;
        margin-bottom: 15px;
        cursor: pointer;
    }

    &--would:hover {
        opacity: 0.5;
    }

    &--would::before {
        content: "";
        width: 20px;
        height: 20px;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        margin: 10px;
        flex-shrink: 0;
    }

    label input:checked+.contact-us--would {
        background: url(../disign/circle.svg) no-repeat center;
        background-position: 15px 15px;
    }
}

form {
    max-width: 940px;
    margin: 0 auto;
}

.btn-send {
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #021747;
    padding: 12px;
    margin: 24px 30px;
    max-width: 288px;
}

.btn-send:hover {
    opacity: 0.5;
}

.send-style::after {
    content: "";
    background: url(../disign/arrow.svg) no-repeat right;
    padding: 2px 18px;
    margin: 0 0 0 128px;
}

@media screen and (min-width: 600px) {
    .contact-us {
        &__form {
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 50%;
            grid-template-areas:
                "contact-us--name contact-us--email"
                "contact-us--message contact-us--message";
        }

        &--message {
            grid-column: 1/3;
        }
    }

    .btn-send {
        margin: 24px 33%;
        width: 380px;
    }


}