.contact-us {
    background-color: #021747;

    &__title {
        font-style: normal;
        font-weight: 900;
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    form {
        margin: 0 16px;
        max-width: 940px;
    }

    .message {
        width: 90%;
    }

    &--placeholder {
        width: 90%;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #6A7798;
        padding: 12px;
        margin: 10px auto;
    }

    &--placeholder:hover {
        opacity: 0.5;
    }

    &__radio-btn {
        display: flex;
        flex-direction: column;
    }

    &--input {
        margin-bottom: 15px;
    }

    &--would {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: #6A7798;
    }
}

.btn-send {
    border: 1px solid #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: #021747;
    padding: 12px;
    margin: 24px auto;
    width: 288px 380px;
}

.btn-send:hover {
    opacity: 0.5;
}

.send-style::after {
    content: "";
    background: url(../disign/arrow.svg) no-repeat right;
    padding: 2px 28px;
    margin: 0 0 0 128px;
}

@media screen and (min-width: 400px) {
    .send-style::after {
        margin: 0 0 0 158px;
    }

    .btn-send {
        margin: 24px 10% 24px auto;
        width: 330px;
    }

    .name {
        width: 35%;
        margin-right: 20px;
    }

    .email {
        width: 35%;
    }
}

@media screen and (min-width: 600px) {
    .btn-send {
        margin: 24px 10% 24px 25%;
    }

    .name {
        width: 40%;
        margin-right: 20px;
    }

    .email {
        width: 40%;
    }
}