.footer {
    border-top: 2px solid #D5DAE6;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;

    &__nav {
        margin: 25px auto;
        flex-basis: 100%;
        text-align: center;
    }

    &__link {
        font-size: 16px;
        line-height: 30px;
        color: #021747;
        margin-right: 20px;
        text-decoration: none;
    }

    &__link:hover {
        opacity: 0.5;
    }

    &--RSS::before {
        content: "";
        background: url(../disign/rss.svg) no-repeat center;
        padding: 10px;
    }

    &--insta::before {
        content: "";
        background: url(../disign/github.svg) no-repeat center;
        padding: 10px;
    }

    &--linkedin::before {
        content: "";
        background: url(../disign/linkedin.svg) no-repeat center;
        padding: 10px;
    }

    @media screen and (min-width: 400px) {
        &__nav {
            flex-basis: 50%;
            text-align: left;
        }
    }
}