.header {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #6F7E9E;
    width: 100%;
}


.contact {
    background: #021747;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 11px 12px;
    width: 80px;
    height: 17px;
    margin: 21px 0 21px 45px;
    display: none;
}

.menu {
    width: 18px;
    height: 17px;
    margin: 34px 16px 34px 0;

    &__link {
        background: url(../disign/header-menu.svg) no-repeat right;
        padding: 1px 9px;
    }

    &__link:hover {
        opacity: 0.8;
    }
}

@media screen and (min-width: 600px) {
    .contact {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .contact {
        display: block;
    }
}