.rating {
    display: flex;
    flex-wrap: wrap;

    &--text {
        flex-basis: 68%;
    }

    &__reviews {
        padding: 35px 90px;
        flex-basis: 20%;
    }

    &__reviews:hover {
        opacity: 0.5;
    }

    &__total {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    &--red-stars {
        background: url(../disign/red-stars.svg) no-repeat left;
    }

    &--green-stars {
        background: url(../disign/green-stars.svg) no-repeat center;
    }
}