body {
    font-family: 'Montserrat', sans-serif;
    background: #FFFFFF
}

.container {
    margin: 16px auto;
    max-width: 288px;
    border: 1px solid black;
}

@import 'header';
@import 'logo';
@import 'content';
@import 'content__menu';
@import 'sections-grid';
@import 'articles-grid';
@import 'contact-us';
@import 'rating';
@import 'footer';
@import 'license-line';

@media screen and(min-width: 600px) {
    .container {
        max-width: 780px;
        margin: 16px auto;
    }

}

@media screen and(min-width: 900px) {
    .container {
        max-width: 882px;
        margin: 16px auto;
    }

}

@media screen and(min-width: 1440px) {
    .container {
        max-width: 1160px;
        margin: 16px auto;
    }
}