body {
  font-family: "Montserrat", sans-serif;
  background: #FFFFFF;
}

.container {
  margin: 16px;
  max-width: 880px;
  border: 1px solid black;
}

.header {
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #6F7E9E;
}

.logo {
  margin: 28px 0 23px 16px;
}
.logo__icon {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #31436A;
  text-decoration: none;
}

.contact {
  background: #021747;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 12px;
  width: 80px;
  height: 17px;
  margin: 21px;
}

.menu {
  width: 18px;
  height: 17px;
  margin: 34px 16px 34px 0;
}
.menu__link {
  background: url(../disign/header-menu.svg) no-repeat right;
  padding: 1px 9px;
}
.menu__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 900px) {
  .contact {
    transform: scale(0 10%);
  }
}
.content__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #021747;
}
.content__text {
  font-size: 16px;
  line-height: 30px;
}

.content__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #021747;
  text-decoration: none;
  margin: 10px 0;
}

.content__link:hover {
  opacity: 0.5;
}

.sections-grid {
  display: grid;
  gap: 17px;
}
.sections-grid__link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 130px 0;
}
.sections-grid__link:hover {
  opacity: 0.5;
}
.sections-grid--building {
  background: url(../disign/laptop.jpg) no-repeat center;
}
.sections-grid--bringing {
  background: url(../disign/laptop.jpg) no-repeat center;
}
.sections-grid--automating {
  background: url(../disign/work.jpg) no-repeat center;
}
.sections-grid--boosting {
  background: url(../disign/it-man.jpg) no-repeat center;
}
.sections-grid--title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: left;
  padding: 0 0 0 16px;
  margin-bottom: 0;
}
.sections-grid--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding: 0 0 0 16px;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .sections-grid {
    gap: 20px;
    grid-template-areas: "sections-grd--building sections-grd--bringing" "sections-grd--automating sections-grd--boosting";
  }
}
.articles-grid {
  display: grid;
  gap: 16px;
}
.articles-grid--industry {
  position: relative;
}
.articles-grid--solar {
  position: relative;
}
.articles-grid--partners {
  position: relative;
}
.articles-grid--cafe {
  position: relative;
}
.articles-grid .articles-grid__img {
  width: 100%;
}
.articles-grid__text {
  position: absolute;
  bottom: 35%;
  left: 16px;
  color: #FFFFFF;
  text-decoration: none;
}
.articles-grid__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
}
.articles-grid__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 12px 63px 12px 12px;
}
.articles-grid__link::after {
  content: "";
  background: url(../disign/arrow.svg) no-repeat right;
  background-position: 30px 0;
  padding: 2px 28px;
}
.articles-grid__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 600px) {
  .articles-grid {
    gap: 20px;
    grid-template-areas: "articles-grid--industry articles-grid--solar" "articles-grid--partners articles-grid--cafe";
  }
}
.contact-us {
  background-color: #021747;
}
.contact-us__title {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.contact-us form {
  margin: 0 auto;
}
.contact-us .message {
  width: 90%;
}
.contact-us--placeholder {
  width: 90%;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #6A7798;
  padding: 12px;
  margin: 10px auto;
}
.contact-us--placeholder:hover {
  opacity: 0.5;
}
.contact-us__radio-btn {
  display: flex;
  flex-direction: column;
}
.contact-us--would {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #6A7798;
}

.btn-send {
  border: 1px solid #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #021747;
  padding: 12px;
  margin: 24px auto;
  width: 288px 380px;
}

.send-style::after {
  content: "";
  background: url(../disign/arrow.svg) no-repeat right;
  padding: 2px 28px;
  margin: 0 0 0 128px;
}

@media screen and (min-width: 400px) {
  .send-style::after {
    margin: 0 0 0 158px;
  }

  .btn-send {
    margin: 24px 10% 24px auto;
    width: 330px;
  }

  .name {
    width: 35%;
    margin-right: 20px;
  }

  .email {
    width: 35%;
  }
}
@media screen and (min-width: 600px) {
  .btn-send {
    margin: 24px 10% 24px 25%;
  }

  .name {
    width: 40%;
    margin-right: 20px;
  }

  .email {
    width: 40%;
  }
}

/*# sourceMappingURL=style.css.map */
