body {
  font-family: "Montserrat", sans-serif;
  background: #FFFFFF;
}

.container {
  margin: 16px auto;
  max-width: 288px;
}

.header {
  background: #FFFFFF;
  border-bottom: 2px solid #6F7E9E;
  position: relative;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
}

.contact {
  background: #021747;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 11px 12px;
  width: 80px;
  height: 17px;
  display: none;
  margin: 25px 70px 0 0;
}

.contact:hover {
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    border-bottom: none;
  }
}
.menu {
  width: 45px;
  height: 100%;
  margin: 5px 16px 34px 20px;
  border-left: 1px solid #021747;
  border: none;
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 10px;
}
.menu__nav {
  display: none;
}
.menu__link:hover {
  opacity: 0.8;
}
.menu--icons {
  margin: 14px;
  padding: 10px;
}
.menu--icons:hover {
  background: #021747;
  border-radius: 4px;
}

@media screen and (min-width: 1024px) {
  .menu {
    border-left: 1px solid #021747;
  }
  .menu__nav {
    display: block;
  }
}
.logo {
  margin: 28px 0;
}
.logo__icon {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: left;
  color: #31436A;
  text-decoration: none;
}

.content__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-transform: uppercase;
  color: #021747;
}
.content__text {
  font-size: 16px;
  line-height: 30px;
}

.content__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #021747;
  text-decoration: none;
  margin: 10px 0;
}

.content__link:hover {
  opacity: 0.5;
}

.sections-grid {
  display: grid;
  gap: 17px;
}
.sections-grid__link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 130px 0;
}
.sections-grid__link:hover {
  opacity: 0.5;
}
.sections-grid--building {
  background: url(../disign/laptop.jpg) no-repeat center;
}
.sections-grid--bringing {
  background: url(../disign/cashbox.jpg) no-repeat center;
}
.sections-grid--automating {
  background: url(../disign/work.jpg) no-repeat center;
}
.sections-grid--boosting {
  background: url(../disign/it-man.jpg) no-repeat center;
}
.sections-grid--title {
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  text-align: left;
  padding: 0 0 0 16px;
  margin-bottom: 0;
}
.sections-grid--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  padding: 0 0 0 16px;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .sections-grid {
    gap: 20px;
    grid-template-areas: "sections-grd--building sections-grd--bringing" "sections-grd--automating sections-grd--boosting";
  }
}
.articles-grid {
  display: grid;
  gap: 16px;
}
.articles-grid--industry {
  position: relative;
}
.articles-grid--solar {
  position: relative;
}
.articles-grid--partners {
  position: relative;
}
.articles-grid--cafe {
  position: relative;
}
.articles-grid .articles-grid__img {
  width: 100%;
}
.articles-grid__text {
  position: absolute;
  bottom: 35%;
  left: 16px;
  color: #FFFFFF;
  text-decoration: none;
}
.articles-grid__title {
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
}
.articles-grid__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 12px 63px 12px 12px;
}
.articles-grid__link::after {
  content: "";
  background: url(../disign/arrow.svg) no-repeat right;
  background-position: 30px 0;
  padding: 2px 28px;
}
.articles-grid__link:hover {
  opacity: 0.5;
}

@media screen and (min-width: 600px) {
  .articles-grid {
    gap: 20px;
    grid-template-areas: "articles-grid--industry articles-grid--solar" "articles-grid--partners articles-grid--cafe";
  }
}
.contact-us {
  background-color: #021747;
}
.contact-us__title {
  font-style: normal;
  font-weight: 900;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 20px 30px;
}
.contact-us__form {
  display: grid;
  grid-gap: 16px;
}
.contact-us--type {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #6A7798;
  padding: 12px;
}
.contact-us--data {
  max-width: 380px;
}
.contact-us--type:hover {
  opacity: 0.5;
}
.contact-us__radio-btn {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
.contact-us__form {
  margin: 0 30px;
}
.contact-us__checkbox {
  display: none;
}
.contact-us--would {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #6A7798;
  display: flex;
  margin-bottom: 15px;
  cursor: pointer;
}
.contact-us--would:hover {
  opacity: 0.5;
}
.contact-us--would::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin: 10px;
  flex-shrink: 0;
}
.contact-us label input:checked + .contact-us--would {
  background: url(../disign/circle.svg) no-repeat center;
  background-position: 15px 15px;
}

form {
  max-width: 940px;
  margin: 0 auto;
}

.btn-send {
  border: 1px solid #FFFFFF;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  background-color: #021747;
  padding: 12px;
  margin: 24px 30px;
  max-width: 288px;
}

.btn-send:hover {
  opacity: 0.5;
}

.send-style::after {
  content: "";
  background: url(../disign/arrow.svg) no-repeat right;
  padding: 2px 18px;
  margin: 0 0 0 128px;
}

@media screen and (min-width: 600px) {
  .contact-us__form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50%;
    grid-template-areas: "contact-us--name contact-us--email" "contact-us--message contact-us--message";
  }
  .contact-us--message {
    grid-column: 1/3;
  }

  .btn-send {
    margin: 24px 33%;
    width: 380px;
  }
}
.rating {
  display: flex;
  flex-wrap: wrap;
}
.rating--text {
  flex-basis: 68%;
}
.rating__reviews {
  padding: 35px 90px;
  flex-basis: 20%;
}
.rating__reviews:hover {
  opacity: 0.5;
}
.rating__total {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.rating--red-stars {
  background: url(../disign/red-stars.svg) no-repeat left;
}
.rating--green-stars {
  background: url(../disign/green-stars.svg) no-repeat center;
}

.footer {
  border-top: 2px solid #D5DAE6;
  width: 100%;
  text-align: center;
}
.footer__content {
  display: block;
}
.footer__nav {
  margin: 25px 0;
  padding-top: 10px;
}
.footer__link {
  font-size: 16px;
  line-height: 30px;
  color: #021747;
  margin-right: 20px;
  text-decoration: none;
}
.footer__link:hover {
  opacity: 0.5;
}
.footer--RSS::before {
  content: "";
  background: url(../disign/rss.svg) no-repeat center;
  padding: 10px;
}
.footer--insta::before {
  content: "";
  background: url(../disign/github.svg) no-repeat center;
  padding: 10px;
}
.footer--linkedin::before {
  content: "";
  background: url(../disign/linkedin.svg) no-repeat center;
  padding: 10px;
}

@media screen and (min-width: 400px) {
  .footer {
    text-align: right;
  }
  .footer__nav {
    flex-basis: 50%;
    text-align: left;
  }
}
.license-line {
  background: #00091D;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 17px;
}

.chemist {
  border: 1px solid red;
  position: relative;
  width: 100%;
  height: 150px;
  display: none;
}
.chemist__cloak {
  background: url(../disign/cloak.svg) no-repeat center;
  position: absolute;
  bottom: -60px;
  left: 1600px;
  z-index: 2;
  padding: 70px;
}
.chemist__chimical {
  background: url(../disign/chimical.svg) no-repeat center;
  position: absolute;
  bottom: -112px;
  left: 1560px;
  padding: 150px 90px;
  z-index: 3;
}

@media screen and (min-with: 1740px) {
  .chemist {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .container {
    max-width: 780px;
    margin: 16px 20px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    max-width: 882px;
    margin: 16px auto;
  }
}

/*# sourceMappingURL=style.css.map */
